*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

$colores:(
    primario: whitesmoke,
    Secundario: #7e4d37,
);

@mixin review {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

@mixin tituloEntrada {
    text-align: center;
    margin: 15px;
    text-decoration: underline;
}

body{
    font-family: 'Roboto', sans-serif;
    height: 100vh;
}

header{
    padding: 5px;
    .logoFrola{
        margin: 5px;
        padding: 5px;
        width: 300px;
    }
    background-color: map-get($map: $colores, $key:primario );
   display: flex;
   justify-content: space-between;
   align-items: center;
   grid-area: he;
   
   h1{
    font-size: 20px;
    font-style: bold ;
    color: black;
    font-weight: bold;
    text-shadow: 0 0 10px #4D3930
   }
   img{
       margin: 10px;
   }

   nav{
       ul{
           li{
            display: flex;
            flex-direction: column;
            padding: 5px;
            margin: 5px;
            background-color: #DEE1DF;
            &:hover{
                background-color: map-get($map: $colores, $key:primario );
                font-size: 10px;
           }
           a{
               text-decoration: none;
               color: black;
               font-size: 1rem;
           }
       }
   }
}}

Footer{
    background-color:map-get($map: $colores, $key:Secundario ) ;
    height: auto;
    width: 100%;
    bottom: 10px;
    display: inline-block;
    grid-area: fo;
    nav{
        ul{
            li{
                list-style: none;
                margin: 5px;
                padding: 5px;
            }
        }
    }
    .derechosFooter{
        font-weight: bold;
        display: flex;
        text-align: center;
        flex-direction: column;
        justify-content: end;
        align-items: center;
        color:#DEE1DF
    }
}

.bodyIndex{
    height: 80vh;
    display: grid;
    grid-template-areas:"he"
                        "mainindex"
                        "review"
                        "fo";
    justify-content: center;
    
    .mainIndex{
        padding: 30px;
        grid-area: mainindex;
        .recuadroEntrada{
            display: flex;
            flex-direction: column;
            width: 90%;
            margin: 15px;
            padding: 30px;
            border: 2px solid black;
            border-radius: 100px;
            margin-bottom: 10px;
            grid-area: re;
            
            .tituloEntrada{
                @include tituloEntrada()
            }
            .notaEntrada{
                width: 90%;
                height: 90%;
                padding: 20px 20px;  
                margin: auto;
                grid-area: auto;
                img{
                    float: left;
                    margin-right: 15px;
                }              
            }
        }
    
    }
    section{
        .review{
            grid-area: review;
            display: flex;
            flex-direction: column;
            margin: 15px;
            
            .reviewUno{
                @include review;
                grid-area: rU;
            }
              
            .reviewDos{
                @include review;
                grid-area: rD;
            }
              
            .reviewTres{
                @include review;
                grid-area: rT;
            }
              
            .reviewCuatro{
                @include review;
                grid-area: rC;
            }
              
            .reviewCinco{
                @include review;
                grid-area: rCi;
            }
        }
    }
    
}

.bodyServicios{
    .tituloEntrada{
        @include tituloEntrada()
    }

    ul{
        li{
            padding: 5px;
            margin: 5px;
            list-style: none;
         }
    }
    h4{
        text-align: center;
        display: none;
    }
    display: grid;
    grid-template-areas:"he"
                        "ms"
                        "ms"
                        "ms"
                        "ms"
                        "fo" ;
    .mainServicios{
     margin: 10px;
     padding: 10px;
        grid-area: ms ;
    }
    
}

.mainNosotros{
    padding: 30px;
    .tituloEntrada{
      @include tituloEntrada()
      }
}

.mainContacto{
    .tituloEntrada{
        @include tituloEntrada()
    }
    padding: 50px;
    margin-bottom: 40px;
    p{
        font-size: 20px;
    }
    .recuadroEntrada{
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: 15px;
        padding: 30px;
        border: 2px solid black;
        border-radius: 100px;
        margin-bottom: 10px;
        align-items: center;
    }
    .campoFormulario{
        padding: 5px;
        margin: 10px;
        font-size: 20px;
    }
}

.mainUbicacion{
    padding: 50px;
  }


.linea-tiempo {
    position: relative;
    width: 500px;
    max-width: 95vw;
    height: 100%;
    font-family: Arial;
  }
  .momento {
    position: relative;
    width: 45%;
    box-sizing: border-box;
  }
  .momento:nth-child(even) {
    left: 55%;
  }
  
  .linea-tiempo::before {
    content: '';
    position: absolute;
    width: 3px;
    background-color: #000;
    left: 50%;
    height: 94%;
    border-radius: 10px;
  }
  
  .momento::after {
    content: '';
    position: absolute;
    top: calc(50% + 10px);
    right: calc(-11.11% - 11.5px);
    height: 20px;
    width: 20px;
    background-color: #000;
    border-radius: 50%;
  }
  
  .momento:nth-child(even)::after {
    left: calc(-11.11% - 8.5px);
  }
  
  .momento h3 {
    margin: 10px 0px;
    font-size: 30px;
    text-align: center;
  }
  
  .momento .descripcion {
    background-color: #eee;
    border-radius: 10px;
    padding: 10px;
    line-height: 22px;
    font-size: 14px;
  }
  
  .momento .descripcion::after {
    content: '';
    position: absolute;
    right: -10px;
    top: calc(50% + 10px);
    height: 0;
    width: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 12px solid #eee;
  }
  
  .momento:nth-child(even) .descripcion {
    background-color: #3393FE;
    color: white;
  }
  
  .momento:nth-child(even) .descripcion::after{
    left: -10px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 12px solid #3393FE;
    border-left: none;
}

@media only screen and (min-width:1024px){

    .header{
        display: flex;
        h1{
          font-size: 50px;
        }
        .logoFrola{
            width: 150px;
        }
        align-items: flex-end
        }
  
        h4{
        display: block;
        }
  
        .menuInicial li{
        display: inline;
        flex-direction: column;
        padding: 5px;
        margin: 5px;
        background-color:#DEE1DF;
        &:hover{
            padding: 10px;
            background-color: map-get($map: $colores, $key:primario );
            font-size: 20px;
            }
        a{
         text-decoration: none;
         color: black;
         font-size: 1rem;
         margin: 2px;
         }
            
        }   
        
    }
    
    .bodyIndex{
       section{
           .review{
               flex-direction: row;
           }
       }
        
    }

    .mainServicios{
        display: grid;   
    }
  
    .servicios{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        
  

    }

  
  